header {
  align-items: start;
  display: flex;
  gap: $spacer-5;
  justify-content: space-between;
  margin-bottom: $spacer-4 !important;

  @include media-breakpoint-up(md) {
    gap: $spacer-6;
    margin-bottom: $spacer-5 !important;
  }

  h1 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin-bottom: 0 !important;
    overflow: hidden;
  }
}
