.form {

  &-check {

    &-input {
      margin-top: 0;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    gap: $spacer-3;
    margin-top: $spacer-4 !important;
    margin-bottom: 0 !important;

    @include media-breakpoint-up(md) {
      gap: $spacer-4;
      margin-top: $spacer-5 !important;
    }

    *[class*="col"] {
      display: flex;
      flex-direction: row;
      gap: $spacer-3;

      @include media-breakpoint-up(md) {
        gap: $spacer-4;
      }
    }

    .extra_buttons {
      display: flex;
      flex-direction: row;
      gap: $spacer-3;

      @include media-breakpoint-up(md) {
        gap: $spacer-4;
      }
    }
  }
}

form.main {
  height: auto !important;
  margin: 0 !important;
  overflow-x: auto !important;
  padding: 0 !important;
}
