.btn {

  &-white {

    @include button-variant(
      $background: $white,
      $border: $inputs-border-color,
      $color: $body-color,
      $hover-background: $white,
      $hover-border: darken($inputs-border-color, 4%),
      $hover-color: $body-dark-color,
      $active-background: $white,
      $active-border: darken($inputs-border-color, 2%),
      $active-color: $body-dark-color,
      $disabled-background: $black,
      $disabled-border: $inputs-border-color,
      $disabled-color: $body-color
    );
  }

  &-primary {

    @include button-variant(
      $background: $primary-color,
      $border: $primary-color,
      $color: $white,
      $hover-background: darken($primary-color, 2%),
      $hover-border: darken($primary-color, 2%),
      $hover-color: $white,
      $active-background: darken($primary-color, 1%),
      $active-border: darken($primary-color, 1%),
      $active-color: $white,
      $disabled-background: $primary-color,
      $disabled-border: $primary-color,
      $disabled-color: $white
    );
  }

  &-danger {

    @include button-variant(
      $background: $danger-color,
      $border: $danger-color,
      $color: $white,
      $hover-background: darken($danger-color, 2%),
      $hover-border: darken($danger-color, 2%),
      $hover-color: $white,
      $active-background: darken($danger-color, 1%),
      $active-border: darken($danger-color, 1%),
      $active-color: $white,
      $disabled-background: $danger-color,
      $disabled-border: $danger-color,
      $disabled-color: $white
    );
  }

  &-dark {

    @include button-variant(
      $background: $dark-color,
      $border: $dark-color,
      $color: $white,
      $hover-background: darken($dark-color, 2%),
      $hover-border: darken($dark-color, 2%),
      $hover-color: $white,
      $active-background: darken($dark-color, 1%),
      $active-border: darken($dark-color, 1%),
      $active-color: $white,
      $disabled-background: $dark-color,
      $disabled-border: $dark-color,
      $disabled-color: $white
    );
  }

  &-toggle {
    align-items: start !important;
    border-radius: $md-border-radius;
    border: none;
    color: $body-dark-color;
    display: flex;
    justify-content: start;
    padding: ($spacer * 1.5) ($spacer * 4); // 6px 16px
    width: 100%;

    &:hover {
      color: $body-dark-color;
    }

    &:focus {
      box-shadow: none;
    }

    *[class*="fa"] {
      color: $body-secondary-color;
      font-size: $sm-font-size;
      margin-left: auto;
      order: 1;
      position: relative;
      top: $spacer-1;
    }
  }

  &-info {
    @extend .btn-primary;
  }

  &-light {
    @extend .btn-white;
  }

  &.create,
  &.update,
  &.btn-remove-image,
  &[type="submit"] {

    *[class*="fa"] {
      display: none;
    }
  }

  &-navbar-user {
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    display: flex;
    gap: $spacer-4;
    margin-bottom: -$spacer-1;
    margin-top: -$spacer-1;
    max-width: rem(256px);
    padding: 0;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:focus {
      box-shadow: none;
    }

    &-details {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
}
