#sidescroll + .row {
  @extend .gy-0;
  @extend .justify-content-center;

  *[class*="col"] {
    flex: 0 0 auto;
    width: auto;
  }

  .pagination {
    gap: $spacer-1;
    margin-bottom: 0;

    .page-link {
      padding: rem(12px 19.425px);
      border-radius: $md-inputs-btn-border-radius;
    }
  }
}

#sidescroll {
  margin-bottom: $spacer-4 !important;

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-5 !important;
  }
}
