.table {

  th {
    padding-bottom: 10px !important;
    padding-left: $table-cell-padding-x !important;
    padding-right: $table-cell-padding-x !important;
    padding-top: 0 !important;
  }

  th:first-child {
    padding-left: 0 !important;
  }

  th.shrink {
    padding-bottom: 8px !important;
  }

  th.header {
    font-weight: $fw-bold !important;
    color: $body-dark-color !important;
  }

  th.sticky input[type="checkbox"],
  td.sticky input[type="checkbox"] {
    @extend .form-check-input;
  }

  &-group-divider {
    border-top: $border-width solid $border-color;
  }

  :not(thead) tr:last-child {

    thead, tbody, tfoot, tr, td, th {
      border-width: 0 !important;
    }
  }

  td {
    padding: $table-cell-padding-y $table-cell-padding-x !important;
  }

  td:first-child {
    padding-left: 0 !important;
  }
}
