.form {

  &-check {

    &-input {
      margin-top: 0;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    gap: $spacer-3;
    margin-top: $spacer-4;

    @include media-breakpoint-up(md) {
      gap: $spacer-4;
      margin-top: $spacer-5;
    }
  }
}
