.nav {

  &-tabs {
    align-items: center;
    gap: $spacer-3;
    margin-bottom: $spacer-6 !important;

    .nav-item {
      flex-shrink: 0;

      &.dropdown {
        display: none;
        margin-left: auto;
        margin-right: 0;

        @include media-breakpoint-up(md) {
          align-items: center;
          display: flex;
        }

        & + .nav-item.dropdown {
          margin-left: 0;
        }

        .nav-link {
          background: transparent;

          &:hover {

            @include media-breakpoint-up(md) {
              background-color: $light-color;
            }
          }

          *[class*="fa"] {
            color: $body-secondary-color;
            display: inline-block;
            margin-left: $spacer-1;
          }

          &.show {
            background-color: $light-color;
            color: $body-dark-color;
          }
        }
      }
    }

    .nav-link {
      background: $light-color;
      border-radius: $md-border-radius;
      border: 0 !important;
      color: $body-color;
      font-weight: $fw-medium;
      outline: 0;
      padding: ($spacer * 1.5) ($spacer * 4); // 6px 16px

      &:hover {

        @include media-breakpoint-up(md) {
          background-color: $light-color;
          color: $body-dark-color;
        }
      }

      &.active {
        background-color: $primary-color;
        color: $white;
        font-weight: $fw-semibold;
      }

      *[class*="fa"] {
        display: none;
      }
    }
  }
}
