.input-group {

  .btn,
  .btn-primary,
  &-btn .btn {
    @extend .btn-body;
  }

  &-btn .btn {
    border-bottom-left-radius: inherit !important;
    border-top-left-radius: inherit !important;
  }

  .form-control {
    border-bottom-left-radius: $md-inputs-btn-border-radius !important;
    border-top-left-radius: $md-inputs-btn-border-radius !important;
  }
}
