.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  gap: $spacer-1;
  max-width: 100%;
  min-width: 100%;
  width: 100%;

  .nav-link {
    border-radius: $md-border-radius;
    color: $body-color;
    outline: 0;
    padding: ($spacer * 1.5) ($spacer * 4); // 6px 16px

    &:hover {

      @include media-breakpoint-up(xl) {
        background-color: $light-color;
        color: $body-dark-color;
      }
    }

    &.active {
      background-color: $primary-color;
      color: $component-primary-color;
      font-weight: $fw-semibold;
    }
  }

  li {
    margin-bottom: 0 !important;
  }

  .btn-toggle-nav {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .nav-item-dashboard {
    margin-bottom: -$spacer-1 !important;

    // hide default "Navigation" btn-toggle
    & + li .btn-toggle {
      display: none;
    }
  }
}
