.filters {

  &-wrapper {
    display: none;

    @include media-breakpoint-up(md) {
      background-color: $light-color;
      border-radius: $lg-border-radius;
      display: flex;
      flex-direction: column;
      gap: $spacer-3;
      margin-bottom: $spacer-4;
      padding: $spacer-5;
    }
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: $spacer-2;

    &:empty {
      margin-bottom: -$spacer-3;
    }
  }

  .filter {
    align-items: center;
    display: flex !important;
    font-size: 0;
    gap: $spacer-1;
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    .form-control,
    .form-select,
    .additional-fieldset,
    .additional-fieldset .input-sm {
      flex-grow: 1;
      width: 100% !important;
    }

    .btn {
      @extend .btn-body;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin-left: $spacer-1;
      order: 1;

      *[class*="fa"] {
        margin-left: $spacer-2 !important;
        order: 1 !important;
      }
    }
  }
}
