.filter {
  display: flex !important;
  font-size: 0 !important;
  margin-bottom: $spacer-3 !important;
  margin-top: 0 !important;

  .btn {
    @extend .btn-body;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: $spacer-3;
    max-width: rem(192px);
    order: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    *[class*="fa"] {
      margin-left: $spacer-2 !important;
      order: 1 !important;
    }
  }

  .additional-fieldset,
  .form-control {
    flex-grow: 1;
    width: 100% !important;
  }

  .additional-fieldset:not(.form-control) {
    margin-right: $spacer-3 !important;
  }

  .form-control + .form-control {
    margin-left: $spacer-3;
  }
}

// invisible hr
.filters_box {
  border-color: transparent;
  margin-bottom: $spacer-1;

  // main filter row
  & + .row {
    @extend .align-items-center;
    width: unset !important;

    .input-group > .form-control + .btn-primary *[class*="fa"] {
      display: none;
    }

    .btn-info {
      @extend .btn-primary;
    }
  }
}

// wrapper
form .card {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer-5 !important;
    padding: $spacer-6 !important;
  }
}
