.alert {

  &-success {
    color: $white !important;
    background-color: $success-color !important;
  }

  &-danger {
    color: $white !important;
    background-color: $danger-color !important;
  }
}
