.loading {
  align-items: center;
  background-color: $overlay-bg;
  color: $white;
  display: flex;
  font-size: $h1-font-size;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
