.form {

  &-check {

    &-input {
      margin-top: 0;
    }

    &-label {
      color: $form-label-color;
      font-size: $form-label-font-size;
      font-weight: $form-label-font-weight;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacer-4;
    margin-bottom: 0 !important;
    margin-top: $spacer-6 !important;

    &,
    *[class*="col"],
    .extra_buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacer-4;
    }

    .extra_buttons .btn-primary {
      @extend .btn-body;
    }
  }
}
