.sidebar {
  background-color: transparent !important;
  display: none;
  top: 0 !important;
  scrollbar-width: none;

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: $spacer-1;
    height: 100vh;
    max-width: 192px;
    min-width: 192px;
    overflow-x: scroll;
    padding-top: $spacer-7;
    width: 192px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-link {
    color: $body-color;

    @include media-breakpoint-up(xl) {
      border-radius: $md-border-radius;
      padding: ($spacer * 1.5) ($spacer * 4); // 6px 16px
    }

    &:hover {
      background-color: $light-color;
      color: $body-dark-color;
    }

    &.active {
      font-weight: $fw-semibold;

      @include media-breakpoint-up(xl) {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  li {
    margin-bottom: 0 !important;
  }

  .btn-toggle-nav {
    padding: 0 !important;
  }
}
