#sidescroll + .row {

  *[class*="col"] {
    flex: 0 0 auto;
    width: auto;
  }

  .pagination {
    margin-bottom: 0;

    .page-link {
      border-radius: $sm-inputs-btn-border-radius;
      font-size: $pagination-font-size;
      padding: rem(11px 18.2625px);

    }

    .page-item.active {

      .page-link {
        font-weight: $fw-semibold !important;
      }
    }
  }
}

#sidescroll {
  margin-bottom: $spacer-6 !important;
}
