.img {

  &-thumbnail {
    background-color: transparent;
    border: none;
    height: rem(96px);
    max-width: 100%;
    padding: 0;

    // smaller thumbnails in rows
    td & {
      border-radius: $sm-border-radius;
      height: rem(40px);
    }
  }
}

// only show first image in rows
td.attachments_field.multiple_active_storage_type a:not(:first-child) {
  display: none;
}

.multiple_active_storage_type.attachments_field {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-3;

  :not(a):not(p) {
    flex-basis: 100%;
  }
}
