.sidebar {
  background-color: transparent !important;
  display: none;
  padding-left: 0 !important;
  scrollbar-width: none;
  top: 0 !important;

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: $spacer-1;
    height: 100vh;
    max-width: rem(192px);
    min-width: rem(192px);
    overflow-x: scroll;
    padding-top: $spacer-7;
    width: rem(192px);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .nav-link {
    color: $body-color;

    @include media-breakpoint-up(xl) {
      border-radius: $md-border-radius;
      padding: ($spacer * 1.5) ($spacer * 4); // 6px 16px
    }

    &:hover {
      background-color: $light-color;
      color: $body-dark-color;
    }

    &.active {
      font-weight: $fw-semibold;

      @include media-breakpoint-up(xl) {
        background-color: $primary-color;
        color: $white;
      }
    }
  }

  li {
    margin-bottom: 0 !important;
  }

  .nav-item-dashboard {
    margin-bottom: -$spacer-1 !important;

    & + li .btn-toggle {
      display: none;
    }
  }


  .btn-toggle-nav {
    padding: 0 !important;
  }
}
