.dropdown {

  &-menu {
    border-top-left-radius: $dropdown-border-radius !important;
    border-top-right-radius: $dropdown-border-radius !important;
    box-shadow: $md-box-shadow;
  }

  &-item {
    color: $dropdown-color;
    font-weight: $fw-medium;
  }

  &-header {
    font-size: $md-font-size;
  }

  &-toggle::after {
    @extend .fas;
    border: 0;
    color: $body-secondary-color;
    content: "\f107";
    margin-left: $spacer-1;
    vertical-align: unset;
  }
}
