.form {

  &-check {

    &-input {
      margin-top: 0;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacer-3;
    margin-bottom: 0 !important;
    margin-top: $spacer-4 !important;

    @include media-breakpoint-up(md) {
      gap: $spacer-4;
      margin-top: $spacer-5 !important;
    }

    *[class*="col"] {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $spacer-3;

      @include media-breakpoint-up(md) {
        gap: $spacer-4;
      }
    }

    .extra_buttons {
      display: flex;
      flex-direction: row;
      gap: $spacer-3;

      @include media-breakpoint-up(md) {
        gap: $spacer-4;
      }

      .btn-primary {
        @extend .btn-body;
      }
    }
  }
}
