#sidescroll + .row {

  *[class*="col"] {
    flex: 0 0 auto;
    width: auto;
  }

  .pagination {
    margin-bottom: 0;

    .page-link {
      font-size: $pagination-font-size;
      padding: rem(11px 18.2625px);
      border-radius: $sm-inputs-btn-border-radius;
    }
  }
}

#sidescroll {
  margin-bottom: $spacer-5 !important;

  @include media-breakpoint-up(md) {
    margin-bottom: $spacer-6 !important;
  }
}
