.sidebar {

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: $spacer-1;
    height: calc(100vh - 4px); // body border
    max-width: rem(192px);
    min-width: rem(192px);
    overflow-x: scroll;
    padding-top: $spacer-7;
    width: rem(192px);
  }

  &::-webkit-scrollbar {

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  .nav-link {

    @include media-breakpoint-up(xl) {
      border-radius: $md-border-radius;
      color: $body-color;
      padding: ($spacer * 1.5) ($spacer * 4); // 6px 16px
    }

    &:hover {

      @include media-breakpoint-up(xl) {
        background-color: $light-color;
        color: $body-dark-color;
      }
    }

    &.active {

      @include media-breakpoint-up(xl) {
        background-color: $primary-color;
        color: $white;
        font-weight: $fw-semibold;
      }
    }
  }

  // Fighting RailsAdmin
  li {

    @include media-breakpoint-up(xl) {
      margin-bottom: 0 !important;
    }
  }

  .btn-toggle-nav {
    padding: 0 !important;
  }

  // Hide default 'Navigation' btn-toggle
  .nav-item-dashboard {

    @include media-breakpoint-up(xl) {
      margin-bottom: -$spacer-1 !important;
    }

    & + li .btn-toggle {

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }
}
