.offcanvas {
  border-radius: $lg-border-radius;
  height: calc(100vh - 16px);
  margin-left: $spacer-2;
  margin-top: $spacer-2;
  max-width: rem(208px);
  min-width: rem(208px);
  transition: all 0.275s cubic-bezier(0.1, 0, 0.1, 1) !important;
  width: rem(208px);

  @include media-breakpoint-up(md) {
    height: calc(100vh - 24px);
    margin-left: $spacer-3;
    margin-top: $spacer-3;
    max-width: rem(216px);
    min-width: rem(216px);
    width: rem(216px);
  }

  @include media-breakpoint-up(xl) {
    background-clip: unset;
    background-color: transparent;
    border-radius: 0;
    height: 100vh;
    margin-left: 0;
    margin-top: 0;
    max-width: rem(192px);
    min-width: rem(192px);
    position: relative;
    transform: none;
    visibility: visible;
    width: rem(192px);
    z-index: 3;
  }

  .offcanvas-body {
    height: 100vh;
    overflow-x: scroll;
    padding-bottom: $spacer-3;
    padding-left: $spacer-2;
    padding-right: $spacer-2;
    padding-top: $spacer-2;

    @include media-breakpoint-up(md) {
      padding-bottom: $spacer-4;
      padding-top: $spacer-3;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: $spacer-8;
      padding-left: 0;
      padding-right: 0;
      padding-top: $spacer-7;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-backdrop {
    transition: all 0.275s cubic-bezier(0.1, 0, 0.1, 1) !important;
  }
}
