.filter {
  display: flex !important;
  font-size: 0 !important;
  margin-bottom: $spacer-3 !important;
  margin-top: 0 !important;

  .btn {
    @extend .btn-white;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: $spacer-3;
    max-width: 192px;
    order: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    *[class*="fa"] {
      margin-left: $spacer-2 !important;
      order: 1 !important;
    }
  }

  .additional-fieldset {
    margin-right: $spacer-3 !important;
  }

  .form-control + .form-control {
    margin-left: $spacer-3;
  }
}

// miscellaneous
.filters_box {
  border-color: transparent;
  margin-bottom: $spacer-1;

  & + .row {
    width: unset !important;

    .input-group > .form-control + .btn-primary {
      @extend .btn-white;

      *[class*="fa"] {
        display: none;
      }

      & + .btn-info {
        @extend .btn-white;
      }
    }

    .btn-info {
      @extend .btn-primary;
    }
  }
}

form {

  .card {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer-5 !important;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer-6 !important;
    }

    @include media-breakpoint-up(lg) {
      padding: $spacer-6 !important;
    }
  }
}
