.table {

  th {
    padding-bottom: 10px !important;
    padding-left: $table-cell-padding-x !important;
    padding-right: $table-cell-padding-x !important;
    padding-top: 0 !important;
  }

  th:first-child {
    padding-left: 0 !important;
  }

  th.shrink {
    padding-bottom: 8px !important;
  }

  th.header {
    font-weight: $fw-bold !important;
    color: $body-dark-color !important;
  }

  th.sticky input[type="checkbox"],
  td.sticky input[type="checkbox"] {
    @extend .form-check-input;
  }

  &-group-divider {
    border-top: $border-width solid $inputs-border-color !important;
  }

  :not(thead) tr:last-child {

    thead, tbody, tfoot, tr, td, th {
      border-width: 0 !important;
    }
  }

  thead tr th {
    padding-top: $spacer-1 !important;
    margin-top: -$spacer-1 !important;
  }

  td {
    padding: $table-cell-padding-y $table-cell-padding-x !important;
  }

  td:first-child {
    padding-left: 0 !important;
  }

  tr:first-child th.sticky,
  td:first-child.sticky {
    padding-left: $spacer-1 !important;
  }

  tbody tr:hover .links .nav .nav-item .nav-link {
    color: $body-color;
  }

  tbody tr .links .nav .nav-item {
    padding: 0 $spacer-1 !important;

    .nav-link {
      color: $body-secondary-color;

      &:hover {
        color: $body-dark-color;
      }
    }
  }
}
