.navbar {

  &-toggler {
    border-radius: 0;
    border: 0;
    color: $body-secondary-color;
    font-size: $h3-font-size;
    outline: 0;
    padding: rem(2.75px 4.25px);

    &:focus {
      box-shadow: none;
    }
  }
}
