.navbar {
  background-color: $light-color !important;
  border: none !important;
  display: none;

  @include media-breakpoint-up(xl) {
    display: block;
  }

  .navbar-brand,
  .nav-link {
    color: $text-color !important;
    font-size: $md-font-size;
    font-weight: $fw-medium;

    small {
      display: none;
    }
  }

  .nav-item {

    &:not(.edit_user_root_link) {
      display: none;
    }

    img {
      display: none;
    }
  }

  .nav-link {
    padding-bottom: 0;
    padding-top: 0;
  }
}
