.tile {

  &-avatar {
    align-items: center;
    background-color: $avatar-bg-color;
    border-radius: 50%;
    color: $avatar-color;
    display: flex;
    font-size: rem(26px);
    height: rem(32px);
    justify-content: center;
    overflow: hidden;
    width: rem(32px);

    &-icon {
      position: relative;
      top: rem(5px);
    }
  }
}
