.badge {
  align-items: center;
  border-radius: $md-border-radius;
  display: flex;
  height: rem(32px);
  justify-content: center;
  padding: 0;
  width: rem(32px);

  &.bg-secondary {
    color: $secondary-color !important;
    background-color: $secondary-light-color !important;
  }

  &.bg-success {
    color: $success-color !important;
    background-color: $success-light-color !important;
  }

  &.bg-danger {
    color: $danger-color !important;
    background-color: $danger-light-color !important;
  }

  // smaller badges in rows
  td & {
    border-radius: $sm-border-radius;
    height: rem(24px);
    width: rem(24px);
  }
}
