.nav {

  &-tabs {
    align-items: center;
    margin-bottom: $spacer-5 !important;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer-6 !important;
    }

    .nav-item {
      margin-right: $spacer-4;

      @include media-breakpoint-up(md) {
        margin-right: $spacer-5;
      }

      &.dropdown {
        display: none;
        margin-left: auto;
        margin-right: 0;

        @include media-breakpoint-up(md) {
          align-items: center;
          display: flex;
        }

        & + .nav-item.dropdown {
          margin-left: $spacer-3;

          @include media-breakpoint-up(md) {
            margin-left: $spacer-4;
          }
        }

        .nav-link {
          @extend .btn;
          @extend .btn-body;
        }
      }
    }


    .nav-link {
      border-left: none;
      border-right: none;
      border-top: none;
      font-weight: $fw-semibold;
      padding-bottom: $spacer-2;
      padding-top: 0;

      &.active {
        font-weight: $fw-semibold;
      }

      *[class*="fa"] {
        display: none;
      }
    }
  }
}
// miscellaneous
nav[aria-label="breadcrumb"] {
  display: none !important;
}

ol.breadcrumb {
  display: none !important;
}
