$white: #ffffff;
$black: #000000;

$azure-blue: #0a84ff;     // private – primary
$rosy-granite: #8e8e93;   // private – secondary
$jade-green: #0cca4a;     // private – success
$electric-slide: #f549e6; // private – info
$dark-orange: #f58f29;    // private – warning
$strawberry: #f33339;     // private – danger
$bright-snow: #f7f7f9;    // private – light
$carbon-black: #1c1c1e;   // private – dark

$gun-metal: #3a3a3c; // private – text

$platinum: #eeeef2;  // private – border
$alabaster: #e5e5ea; // private – inputs border

$primary-color: $azure-blue;
$secondary-color: $rosy-granite;
$success-color: $jade-green;
$info-color: $electric-slide;
$warning-color: $dark-orange;
$danger-color: $strawberry;
$light-color: $bright-snow;
$dark-color: $carbon-black;

$body-color: $gun-metal;
$body-secondary-color: $rosy-granite;
$body-dark-color: $carbon-black;

$borders-color: $platinum;

$inputs-border-color: $alabaster;
