body {
  padding-bottom: $spacer-4;
  padding-top: $spacer-4;

  @include media-breakpoint-up(md) {
    padding-bottom: $spacer-5;
    padding-top: $spacer-5;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: $spacer-6;
    padding-top: $spacer-6;
  }
}
