.main {

  @include media-breakpoint-up(xl) {
    height: 100vh;
    margin-left: -$spacer-1;
    margin-right: -$spacer-1;
    overflow-x: scroll;
    padding-bottom: $spacer-7;
    padding-left: $spacer-1;
    padding-right: $spacer-1;
    padding-top: $spacer-7;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}
