.main {
  margin-left: -$spacer-1;
  margin-right: -$spacer-1;
  padding-bottom: $spacer-7;
  padding-left: $spacer-1;
  padding-right: $spacer-1;
  padding-top: $spacer-6;

  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow-x: scroll;
    padding-bottom: $spacer-8;
    padding-top: $spacer-7;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &::after {
    align-self: center;
    color: rgba($body-secondary-color, 0.75);
    content: "Designed by Swop";
    display: flex;
    font-size: $sm-font-size;
    justify-self: center;
    margin-top: $spacer-5;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-top: $spacer-6;
    }
  }
}
