// mixins
@import "../../swop-base/swop-base";

// core
@import "swop-light/swop-colors/swop-colors";

// core
@import "swop-core/swop-variables";
@import "swop-core/swop-bootstrap-variables";

// bootstrap
@import "bootstrap/scss/bootstrap";

// base
@import "swop-base/swop-base";
@import "swop-base/swop-main";

// layouts
@import "swop-layouts/swop-header";
@import "swop-layouts/swop-containers";

// components
@import "swop-components/swop-buttons";
@import "swop-components/swop-filters";
@import "swop-components/swop-navbars";
@import "swop-components/swop-navs";
@import "swop-components/swop-rows";
@import "swop-components/swop-sidebars";
@import "swop-components/swop-tables";
