// spacing
$spacer: 4px;
$spacer-1: $spacer;       // 4px
$spacer-2: $spacer * 2;	  // 8px
$spacer-3: $spacer * 3;	  // 12px
$spacer-4: $spacer * 4;	  // 16px
$spacer-5: $spacer * 5;	  // 20px
$spacer-6: $spacer * 6;	  // 24px
$spacer-7: $spacer * 8;	  // 32px
$spacer-8: $spacer * 10;	// 40px
$spacer-9: $spacer * 12;  // 48px
$spacer-10: $spacer * 16; // 64px
$spacer-11: $spacer * 20; // 80px
$spacer-12: $spacer * 24; // 96px
$spacer-13: $spacer * 28; // 112px
$spacer-14: $spacer * 32; // 128px
$spacer-15: $spacer * 36; // 144px

// components
$borders-width: 1px;

$base-border-radius: 4px;
$sm-border-radius: $base-border-radius * 1; // 4px
$md-border-radius: $base-border-radius * 2; // 8px
$lg-border-radius: $base-border-radius * 3; // 12px
$xl-border-radius: $base-border-radius * 4; // 16px

$sm-box-shadow: 0 0 24px 0 rgba($dark-color, 0.04);
$md-box-shadow: 0 0 48px 0 rgba($dark-color, 0.04);
$lg-box-shadow: 0 0 96px 0 rgba($dark-color, 0.04);

// typography
$figtree: 'Figtree', 'Helvetica Neue', Helvetica, Arial, sans-serif; // private
$font-family: $figtree;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$base-font-size: 16px;

$h1-font-size: $base-font-size * 2;     // 32px
$h2-font-size: $base-font-size * 1.75;  // 28px
$h3-font-size: $base-font-size * 1.4;   // 24px
$h4-font-size: $base-font-size * 1.25;  // 20px
$h5-font-size: $base-font-size * 1.125; // 18px
$h6-font-size: $base-font-size * 1;     // 16px

$lg-font-size: $base-font-size * 1;     // 16px
$md-font-size: $base-font-size * 0.875; // 14px
$sm-font-size: $base-font-size * 0.75;  // 12px

$lg-line-height: 2;
$md-line-height: 1.625;
$sm-line-height: 1.25;

// buttons + forms
$sm-inputs-btn-padding-y: $spacer * 2.5;  // 10px
$sm-inputs-btn-padding-x: $spacer * 3.5;  // 14px
$md-inputs-btn-padding-y: $spacer * 2.75; // 11px
$md-inputs-btn-padding-x: $spacer * 4;    // 16px
$lg-inputs-btn-padding-y: $spacer * 3;    // 12px
$lg-inputs-btn-padding-x: $spacer * 4;    // 16px

$sm-inputs-btn-border-radius: $base-border-radius * 2;    // 8px
$md-inputs-btn-border-radius: $base-border-radius * 2.25; // 9px
$lg-inputs-btn-border-radius: $base-border-radius * 2.5;  // 10px

// buttons
$sm-btn-padding-x: $spacer * 5;   // 20px
$md-btn-padding-x: $spacer * 5.5; // 22px
$lg-btn-padding-x: $spacer * 6;   // 24px
