// components
$sm-border-radius: $base-border-radius * 1; // 4px
$md-border-radius: $base-border-radius * 2; // 8px
$lg-border-radius: $base-border-radius * 3; // 12px
$xl-border-radius: $base-border-radius * 4; // 16px

$sm-box-shadow: 0 0 rem(24px) 0 rgba($dark-color, 0.04);
$md-box-shadow: 0 0 rem(48px) 0 rgba($dark-color, 0.04);
$lg-box-shadow: 0 0 rem(96px) 0 rgba($dark-color, 0.04);

// typography
$figtree: 'Figtree', 'Helvetica Neue', Helvetica, Arial, sans-serif; // private
$font-family: $figtree;

$h1-font-size: $base-font-size * 2;     // 32px
$h2-font-size: $base-font-size * 1.75;  // 28px
$h3-font-size: $base-font-size * 1.4;   // 24px
$h4-font-size: $base-font-size * 1.25;  // 20px
$h5-font-size: $base-font-size * 1.125; // 18px
$h6-font-size: $base-font-size * 1;     // 16px

$lg-font-size: $base-font-size * 1;     // 16px
$md-font-size: $base-font-size * 0.875; // 14px
$sm-font-size: $base-font-size * 0.75;  // 12px

// buttons + forms
$lg-inputs-btn-padding-y: $spacer * 3;    // 12px
$lg-inputs-btn-padding-x: $spacer * 4;    // 16px
$md-inputs-btn-padding-y: $spacer * 2.75; // 11px
$md-inputs-btn-padding-x: $spacer * 4;    // 16px
$sm-inputs-btn-padding-y: $spacer * 2.5;  // 10px
$sm-inputs-btn-padding-x: $spacer * 3.5;  // 14px

$lg-inputs-btn-border-radius: $base-border-radius * 2.5;  // 10px
$md-inputs-btn-border-radius: $base-border-radius * 2.25; // 9px
$sm-inputs-btn-border-radius: $base-border-radius * 2;    // 8px

// buttons
$lg-btn-padding-x: $spacer * 6;   // 24px
$md-btn-padding-x: $spacer * 5.5; // 22px
$sm-btn-padding-x: $spacer * 5;   // 20px
