$primary-color: #1f58d2;
$secondary-color: #545c6c;
$success-color: #0ea247;
$info-color: #2f99ce;
$warning-color: #d6961d;
$danger-color: #c9403d;
$light-color: #0e1222;
$dark-color: #fbfbff;

$box-shadow-color: $black;

$body-bg: #070b1b;

$body-color: #b4bccc;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #101621;

$inputs-border-color: #232545;

// miscellaneous
$avatar-bg-color: desaturate(lighten($light-color, 10%), 8%);
$avatar-color: desaturate(lighten($light-color, 44%), 8%);

$btn-body-hover-border: lighten($inputs-border-color, 3%);
$btn-body-active-border: lighten($inputs-border-color, 1.5%);

$overlay-bg: rgba($black, 0.75);
