$primary-color: #8f6133;
$secondary-color: #73655e;
$success-color: #0ea247;
$info-color: #2f99ce;
$warning-color: #d6961d;
$danger-color: #c9403d;
$light-color: #1a1200;
$dark-color: #fefbff;

$box-shadow-color: $black;

$body-bg: #120a00;

$body-color: #c4c0bc;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #221300;

$inputs-border-color: #3c2808;

// miscellaneous
$component-primary-color: $white;

$avatar-bg-color: desaturate(lighten($light-color, 10%), 8%);
$avatar-color: desaturate(lighten($light-color, 44%), 8%);

$btn-body-hover-border: lighten($inputs-border-color, 3%);
$btn-body-active-border: lighten($inputs-border-color, 1.5%);

$overlay-bg: rgba($black, 0.75);
