$primary-color: #0a84ff;
$secondary-color: #909098;
$success-color: #00d050;
$info-color: #e060ff;
$warning-color: #ffb020;
$danger-color: #ff3430;
$light-color: #f9f9fb;
$dark-color: #202024;

$secondary-light-color: desaturate(lighten($secondary-color, 38%), 24%);
$success-light-color: desaturate(lighten($success-color, 54%), 24%);
$danger-light-color: desaturate(lighten($danger-color, 38%), 24%);

$box-shadow-color: $dark-color;

$body-bg: $white;

$body-color: #505058;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #f6f6fa;

$inputs-border-color: #ececf2;

// miscellaneous
$avatar-bg-color: desaturate(darken($light-color, 4%), 12%);
$avatar-color: desaturate(darken($light-color, 32%), 12%);

$btn-body-hover-border: darken($inputs-border-color, 3%);
$btn-body-active-border: darken($inputs-border-color, 1.5%);

$overlay-bg: rgba($dark-color, 0.75);
