$azure-blue: #0a84ff;     // private – primary
$new-sage: #4c5553;       // private – secondary
$jade-green: #0cca4a;     // private – success
$electric-slide: #f549e6; // private – info
$dark-orange: #f58f29;    // private – warning
$strawberry: #f33339;     // private – danger
$new-green: #0b1411;      // private – light

$pine-wood: #080e0c; // private - body background

$curious-white: #d8e8e8; // private – text

$neighbour-green: #101a19; // private – border
$sharo-smart: #1c2828; // private – inputs border

$primary-color: $azure-blue;
$secondary-color: $new-sage;
$success-color: $jade-green;
$info-color: $electric-slide;
$warning-color: $dark-orange;
$danger-color: $strawberry;
$light-color: $new-green;
$dark-color: $white;

$secondary-light-color: lighten($new-sage, 38%);
$success-light-color: lighten($jade-green, 51%);
$danger-light-color: lighten($strawberry, 38%);

$body-bg: $pine-wood;

$body-color: $curious-white;
$body-secondary-color: $new-sage;
$body-dark-color: $white;

$borders-color: $neighbour-green;

$inputs-border-color: $sharo-smart;

// miscellaneous
$avatar-bg-color: lighten($light-color, 8%);
$avatar-color: lighten($light-color, 24%);

$nav-link-hover-bg: lighten($light-color, 2%);

$btn-body-hover-border: lighten($inputs-border-color, 4%);
$btn-body-active-border: lighten($inputs-border-color, 2%);
