$azure-blue: #0a84ff;     // private – primary
$rosy-granite: #8e8e93;   // private – secondary
$jade-green: #0cca4a;     // private – success
$electric-slide: #f549e6; // private – info
$dark-orange: #f58f29;    // private – warning
$strawberry: #f33339;     // private – danger
$bright-snow: #f7f7f9;    // private – light
$carbon-black: #1c1c1e;   // private – dark

$gun-metal: #404044; // private – text

$platinum: #eeeef2;  // private – border
$alabaster: #e5e5ea; // private – inputs border

$primary-color: $azure-blue;
$secondary-color: $rosy-granite;
$success-color: $jade-green;
$info-color: $electric-slide;
$warning-color: $dark-orange;
$danger-color: $strawberry;
$light-color: $bright-snow;
$dark-color: $carbon-black;

$secondary-light-color: lighten($rosy-granite, 38%);
$success-light-color: lighten($jade-green, 51%);
$danger-light-color: lighten($strawberry, 38%);

$body-bg: $white;

$body-color: $gun-metal;
$body-secondary-color: $rosy-granite;
$body-dark-color: $carbon-black;

$borders-color: $platinum;

$inputs-border-color: $alabaster;

// miscellaneous
$avatar-bg-color: darken($light-color, 2%);
$avatar-color: darken($light-color, 28%);

$nav-link-hover-bg: $light-color;

$btn-body-hover-border: darken($inputs-border-color, 4%);
$btn-body-active-border: darken($inputs-border-color, 2%);
