$primary-color: #bc51e6;
$secondary-color: #695f74;
$success-color: #0ea247;
$info-color: #2f99ce;
$warning-color: #d6961d;
$danger-color: #c9403d;
$light-color: #1b0925;
$dark-color: #fefbff;

$box-shadow-color: $black;

$body-bg: #12031c;

$body-color: #b4bccc;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #1c0e2c;

$inputs-border-color: #391143;

// miscellaneous
$avatar-bg-color: desaturate(lighten($light-color, 10%), 8%);
$avatar-color: desaturate(lighten($light-color, 44%), 8%);

$btn-body-hover-border: lighten($inputs-border-color, 3%);
$btn-body-active-border: lighten($inputs-border-color, 1.5%);

$overlay-bg: rgba($black, 0.75);
