$primary-color: #0ea247;
$secondary-color: #5f746d;
$success-color: #0ea247;
$info-color: #2f99ce;
$warning-color: #d6961d;
$danger-color: #c9403d;
$light-color: #021512;
$dark-color: #fbfffd;

$box-shadow-color: $black;

$body-bg: #000e0c;

$body-color: #b9c6c2;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #041913;

$inputs-border-color: #0a2f28;

// miscellaneous
$component-primary-color: $white;

$avatar-bg-color: desaturate(lighten($light-color, 8%), 8%);
$avatar-color: desaturate(lighten($light-color, 40%), 8%);

$btn-body-hover-border: lighten($inputs-border-color, 3%);
$btn-body-active-border: lighten($inputs-border-color, 1.5%);

$overlay-bg: rgba($black, 0.75);
