$primary-color: #0a84ff;
$secondary-color: #909098;
$success-color: #13d95f;
$info-color: #38bdff;
$warning-color: #ffb020;
$danger-color: #f04c49;
$light-color: #f8f8fa;
$dark-color: #202024;

$box-shadow-color: $dark-color;

$body-bg: $white;

$body-color: #505058;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #f2f2f6;

$inputs-border-color: #e6e6eC;

// miscellaneous
$avatar-bg-color: desaturate(darken($light-color, 4%), 12%);
$avatar-color: desaturate(darken($light-color, 32%), 12%);

$btn-body-hover-border: darken($inputs-border-color, 3%);
$btn-body-active-border: darken($inputs-border-color, 1.5%);

$overlay-bg: rgba($dark-color, 0.75);
