$primary-color: #000000;
$secondary-color: #95979e;
$success-color: #40df7d;
$info-color: #5ec9ff;
$warning-color: #ffc251;
$danger-color: #ff5e5b;
$light-color: #f5fafc;
$dark-color: #000000;

$box-shadow-color: $dark-color;

$body-bg: $white;

$body-color: #4b5456;
$body-secondary-color: $secondary-color;
$body-dark-color: $dark-color;

$borders-color: #edf5f8;

$inputs-border-color: #e0e8f0;

// miscellaneous
$component-primary-color: $white;

$avatar-bg-color: desaturate(darken($light-color, 4%), 12%);
$avatar-color: desaturate(darken($light-color, 32%), 12%);

$btn-body-hover-border: darken($inputs-border-color, 3%);
$btn-body-active-border: darken($inputs-border-color, 1.5%);

$overlay-bg: rgba($dark-color, 0.75);
