$azure-blue: #0a84ff;     // private – primary
$alabaster: #707480;      // private – secondary
$jade-green: #0cca4a;     // private – success
$electric-slide: #f549e6; // private – info
$dark-orange: #f58f29;    // private – warning
$strawberry: #f33339;     // private – danger
$sweet-dark: #0b0d11;     // private – light

$bullet-metal: #04080c; // privaet - body background

$snow-blue: #e0e8f4; // private – text

$scary-black: #14181c;   // private – border
$friendly-dark: #1a1e22; // private – inputs border

$primary-color: $azure-blue;
$secondary-color: $alabaster;
$success-color: $jade-green;
$info-color: $electric-slide;
$warning-color: $dark-orange;
$danger-color: $strawberry;
$light-color: $sweet-dark;
$dark-color: $white;

$secondary-light-color: lighten($alabaster, 38%);
$success-light-color: lighten($jade-green, 51%);
$danger-light-color: lighten($strawberry, 38%);

$body-bg: $bullet-metal;

$body-color: $snow-blue;
$body-secondary-color: $alabaster;
$body-dark-color: $white;

$borders-color: $scary-black;

$inputs-border-color: $friendly-dark;

// miscellaneous
$avatar-bg-color: lighten($light-color, 8%);
$avatar-color: lighten($light-color, 24%);

$nav-link-hover-bg: lighten($light-color, 2%);

$btn-body-hover-border: lighten($inputs-border-color, 4%);
$btn-body-active-border: lighten($inputs-border-color, 2%);
