$primary-color: #0879e9;
$secondary-color: #586068;
$success-color: #0ea247;
$info-color: #2f99ce;
$warning-color: #d6961d;
$danger-color: #c9403d;
$light-color: #0f1117;
$dark-color: $white;

$box-shadow-color: $black;

$body-bg: #080a0e;

$body-color: #b8c0c8;
$body-secondary-color: $secondary-color;
$body-dark-color: $white;

$borders-color: #13151b;

$inputs-border-color: #1f2329;

// miscellaneous
$avatar-bg-color: desaturate(lighten($light-color, 8%), 16%);
$avatar-color: desaturate(lighten($light-color, 40%), 16%);

$btn-body-hover-border: lighten($inputs-border-color, 3%);
$btn-body-active-border: lighten($inputs-border-color, 1.5%);

$overlay-bg: rgba($black, 0.9);
