$primary-color: #0a84ff;
$secondary-color: #586068;
$success-color: #00d050;
$info-color: #e060ff;
$warning-color: #ffb020;
$danger-color: #ff3430;
$light-color: #0C0e14;
$dark-color: $white;

$secondary-light-color: desaturate(darken($secondary-color, 28%), 24%);
$success-light-color: desaturate(darken($success-color, 34%), 24%);
$danger-light-color: desaturate(darken($danger-color, 48%), 24%);

$box-shadow-color: $black;

$body-bg: #080a0e;

$body-color: #b8c0c8;
$body-secondary-color: $secondary-color;
$body-dark-color: $white;

$borders-color: #0d1016;

$inputs-border-color: #171b21;

// miscellaneous
$avatar-bg-color: desaturate(lighten($light-color, 8%), 16%);
$avatar-color: desaturate(lighten($light-color, 40%), 16%);

$btn-body-hover-border: lighten($inputs-border-color, 3%);
$btn-body-active-border: lighten($inputs-border-color, 1.5%);

$overlay-bg: rgba($black, 0.9);
