header {

  h1 {
    margin-bottom: $spacer-1 !important;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer-2 !important;
    }
  }

  &.py-2 {
    padding: 0 !important;
  }

  &.border-bottom {
    border: none !important;
  }

  &.m-2 {
    margin: 0 !important;
  }
}
