.container {

  &-fluid {

    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      gap: $spacer-9;
      padding-right: $spacer-9;
    }
  }
}
