.container {

  &-fluid {

    @include media-breakpoint-up(md) {
      padding-left: $spacer-6;
      padding-right: $spacer-6;
    }

    @include media-breakpoint-up(lg) {
      padding-left: $spacer-7;
      padding-right: $spacer-7;
    }

    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      gap: $spacer-9;
      padding-left: $spacer-4;
      padding-right: $spacer-9;
    }
  }
}
