<% if current_page.last? %>
  <li class="page-item next disabled">
    <%= link_to "Next", '#', class: 'page-link' %>
  </li>
<% else %>
  <li class="page-item next">
    <%= link_to "Next", url, class: 'page-link' %>
  </li>
<% end %>
